/*
  Name: Marcus Jundt
  Date: 4/24/2024
  Section: CSE 154 AE

  This is the styles.css page for the videogame deal lookup page. It has a dark theme and styles
  the game info roughly based on the Steam store page.
*/

body {
  background-color: #121212;
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
}

main {
  width: 55%;
  margin-left: auto;
  margin-right: auto;
}

header, #results {
  box-shadow: #00000065 0px 0px 80px;
  background-color: #2121214f;
}

h1 {
  text-shadow: #000000 14px 10px 30px;
  font-size: 46px;
}

header {
  text-align: center;
  padding: 30px;
}

img {
  width: 200px;
  max-height: 100px;
  object-fit: cover;
  overflow: hidden;
}

input {
  background-color: #111111;
  width: 15%;
  color: white;
  border: none;
}

input:focus {
  outline: none;
}

input, button, img, .row, .discount-text {
  border-radius: 15px;
}

input, button {
  font-size: 18px;
  padding: 10px;
  height: 36px;
  margin: 5px;
}

button {
  text-align: center;
  line-height: 50%;
  border-style: solid;
}

#btn-see-all {
  color: white;
  background-color: #ffffff05;
  border-color: #ffffff09;
  border-width: 2px;
}

#btn-see-all:hover {
  background-color: #ffffff09;
}

#btn-search {
  color: black;
  background-color: white;
  border-color: white;
  width: 36px;
}

#btn-search:hover {
  background-color: #ffffffcc;
}

#results {
  margin-top: 20px;
  padding: 20px;
}

.row {
  margin-bottom: 10px;
  height: 100px;
  background: #111111;
  display: flex;
  flex-direction: row;
  min-width: 0;
}

.info {
  margin-left: 20px;
  width: 45%;
}

.info > h2 {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

h2, p {
  margin-top: 8px;
  margin-bottom: 0px;
}

.price-container {
  margin-right: 20px;
  margin-left: auto;
  text-align: right;
  align-self: center;
}

.discount-text {
  padding: 10px;
  background-color: green;
  color: greenyellow;
  align-self: center;
  margin-left: auto;
}

.hidden {
  display: none;
}

.error {
  text-align: center;
}

.red-text, .error {
  color: rgb(168, 57, 57);
}

.blue-text {
  color: rgb(0, 174, 255);
}

.yellow-text {
  color: rgb(218, 206, 51);
}

.grey-text {
  color: grey;
  margin-right: 5px;
}

.old-price {
  text-decoration: line-through;
  color: grey;
}

.new-price {
  color: greenyellow;
  font-size: 22px;
}

.store-info {
  display: flex;
  flex-direction: row;
}